.App{
  font-family:'Consolas';
  background-color: whitesmoke;
}

h1 {
    color: navy;
    margin-left: 20px;
    margin-top: 10px;
    text-align: center;
  }

h2{
  font-family:'Consolas';
}

h3{
  font-family:'Consolas';
  text-align: center;
  font-size: 14px;
}

h5{
  font-family:'Consolas';
  text-align: center;
  font-size: 10px;
  margin-top: 5px
}

.TopTable{
    background-color: lightgray;
    margin-bottom: 2px;
    padding-top: 5px;
    width: 100%;
}

.Table1Header{
    background-color: silver;
    font-size: 10;
}

.MiddleDivider{
  margin-top: 10px;
  border-top: 1px solid red;
  margin-bottom: 10px;
;}

.Applogo{
  align-items: center;
  padding-left: 25px;
  margin-left: 10px;
;}

.HeaderBox{
  float: left;
  text-align: right;
  width: 65%;
  font-family: 'Consolas';
  font-size: 18px;
  font-weight: bold;
  padding-right: 50px;
;}

.ResultsTable{
  font-family: 'Consolas';
  font-size: 10px;
;}


.ResultsTableHeader {
  font-size: 10;
  font-weight: bold;
}

.ui.header {
  font-family: 'Consolas';
  margin-bottom: 0.2rem; 
}

.ui.header:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
font-size: 1em;
}

.ui.table {
  font-family: 'Consolas';
  font-size: 5;
}

.ui.segment {
  font-family: 'Consolas';
  margin-top: 00.25em;
  padding-top: 0.25em;
}

.ui.table td {
padding-top: 0.25em;
padding-bottom: 0.25em;
text-align: right;
}


.sc-gsTCUz.avxsE {
  margin-top: 1rem;
}

.ui.form .field {
width: 25%;
}

.mainDIV{
  margin-top: 10px;
  width:100%;
  height:50px;
  margin-bottom: 15px;
}
.leftDIV{
  float:left;
  width:33%;
}
.middleDIV{
  float: left;
  width:33%;
}
.rightDIV{
  float: right;
  width:33%;
}