.App{
  background: rgb(5, 5, 15);
}

@font-face {
	font-family: ProximaNova-Regular;
	src: url(Fonts/ProximaNova-Regular.ttf);
}

@font-face {
  font-family: LemonMilkBoldItalic;
  src: url(Fonts/LemonMilkBoldItalic.otf)
}

@font-face {
  font-family: LemonMilkBold;
  src: url(Fonts/LemonMilkBold.otf)
}

@font-face {
  font-family: LemonMilkRegularItalic;
  src: url(Fonts/LemonMilkRegularItalic.otf)
}

@font-face {
  font-family: LemonMilkRegular;
  src: url(Fonts/LemonMilkRegular.otf)
}

* {
  color: white;
}

h1 {
  color: white;
  text-align: center;
  padding-top: 50px;
  font-family: LemonMilkBoldItalic;
}

h5 {
  color: rgb(116, 140, 174);
  text-align: center;
  padding-bottom: 50px;
}

h4 {
  color: white;
  text-align: center;
  padding: 10px;
  font-family: LemonMilkBold;
}

h6 {
  color: rgb(116, 140, 174);
  text-align: center;
  padding-bottom: 25px;
}

.MiddleDivider {
  margin-top: 25px;
  margin-bottom: 25px;
}

.ui.table td {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.ui.segment {
  background: rgb(24, 29, 38);
  border-color: rgb(36, 52, 75);
  border-width: 2px;
  border-radius: 10px;
}

.ui.button {  
  background-color: rgb(27, 41, 64);
  color: rgb(81, 146, 253);
}

.ui.button:hover {
  color: rgb(81, 146, 253);
  background-color: rgb(45, 72, 116);
}

.visible {
  color: rgb(81, 146, 253);
}

.refresh {
  color: rgb(81, 146, 253);
}

.tableButton {
  text-align: right;
}

.headerTitle {
  color: rgb(116, 140, 174);
}

.label {
  width: 75%;
  text-align: center;
}

.floatContainer {
  display: flex;
  margin: 0 auto;
}

.recommendedPortfolio {
  width: 25%;
  float: left;
  padding-right: 10px;
  flex: 4;
}

.resultsForm {
  width: 25%;
  padding-left: 10px;
  flex: 1;
}

.inputLabel {
  padding-top: 10px;
  color: rgb(116, 140, 174);
}

.portfolioSubmit {
  padding-top: 10px;
  text-align: right;
}

select {
  color: white !important;
  background-color: rgb(27, 41, 64) !important;
}

input {
  color: white !important;
  background-color: rgb(27, 41, 64) !important;
}

::placeholder {
  color: white !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

button:focus {
  background-color: rgb(27, 41, 64) !important;
  color: rgb(81, 146, 253) !important;
}
